# Output data
############
*.pdf

*.txt

*.png 

*.csv

*.log

# ipython
############
.ipynb_checkpoints/

#
*.pyc
__pycache__
SPIworkflow/__pycache__/
SPIworkflow/__pycache__/*.pyc
SPIworkflow/__pycache__/SPIutils.cpython-38.pyc
SPIworkflow/__pycache__/__init__.cpython-38.pyc

#
*.swp
