# Output data
############
*.pdf

*.txt

*.png 
*.log

#*.csv

*.log

*.tex

*.swp

# ipython
############
.ipynb_checkpoints/

# 
__pycache__/

#
*.pyc

# Ignore all archives under 
./SPIworkflow/__pycache__/**/*.pyc

#Ignore all latex files in ./OUTPUT/ 
./OUTPUT/**/*.tex
./OUTPUT/**/*.png
./OUTPUT/**/*.pdf

